// *Noto Sans TC
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&display=swap');

$blue-major: #1ECFD6;
$blue-second:#A5DEE4;
$blue-third: #2EA9DF;
$yellow: #EDD170;
$brown: #C05640;

$break-lg: 1600px;
$break-pad: 1024px;
$break-phone: 767px;
$break-smallphone: 320px;

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif, 黑體-繁, Apple LiGothic Medium, PingFang, 微軟正黑體, Microsoft JhengHei, WenQuanYi Zen Hei, helvetica, Arial;
}

::selection {
  background: #fffd;
  color: $brown;
}

::-webkit-scrollbar {
  width: 9px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  // background: $yellow;
  background-image: linear-gradient(to top, #f78ca0dd 0%, #f9748fdd 19%, #fd868cdd 60%, #fe9a8bdd 100%);
  border-radius: 24px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.none {
  display: none !important;
}

.no-show {
  opacity: 0 !important;
}

#app {
  width: 100%;
  height: auto;
  background: linear-gradient(to bottom, $blue-second, $blue-third);
  overflow-x: hidden;
}

#scene {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 0;

  .shapes {
    width: 250px;
    max-width: 90%;
    position: absolute;
    transition: 0.5s;
    animation: fadeIn 3.5s;

    &:nth-child(1) {
      top: 5% !important;
      left: 14% !important;
    }

    &:nth-child(2) {
      top: -2% !important;
      left: 60% !important;
    }

    &:nth-child(3) {
      top: 10% !important;
      left: 83% !important;
    }

    &:nth-child(4) {
      top: auto !important;
      bottom: 14% !important;
      left: 5% !important;
    }

    &:nth-child(5) {
      top: auto !important;
      bottom: 5% !important;
      left: 26% !important;
    }

    &:nth-child(6) {
      top: auto !important;
      left: auto !important;
      bottom: 7% !important;
      right: 9% !important;
    }

    &:nth-child(7) {
      top: auto !important;
      left: auto !important;
      bottom: 35% !important;
      right: 19% !important;
    }
  }
}

#index {
  width: 100%;
  height: 100vh;
  position: relative;

  .mayorBox {
    max-width: 100%;
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #mayor {
    width: 550px;
    height: 550px;
    background: rgba($color: #fff, $alpha:0.9);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: grab;
    animation: mayorIn 0.7s, mayorRotate 3.65s ease-in-out infinite;
  }


  #jason-img {
    width: 525px;
    height: 525px;
    border-radius: 50%;
    overflow: hidden;
    animation: fadeIn 2.5s;

    img {
      width: 100%;
      height: 100%;
      transition: transform 0.75s, opacity 0.75s;

      &:hover {
        transform: scale(1.07);
        opacity: 0.93;
      }
    }
  }

  #jason-title {
    margin: 16px 0 0 0;
    text-align: center;
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 2px;
    animation: fadeIn 2.5s;

    .celebrate {
      margin: 4.5% auto 0 auto;
      width: 54px;
      height: 54px;
    }
  }
}

#cards {
  width: 1440px;
  max-width: 90%;
  height: auto;
  margin: auto;
  padding: 3% 0;
  // column-count: 3;
  display: flex;
  flex-wrap: wrap;
  transition: 0.5s;
}

.card {
  width: 30%;
  max-width: 100%;
  height: fit-content;
  margin: 0 auto 8% auto;
  background: #fffd;
  box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
  border-radius: 24px;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
  // break-inside: avoid;
}

.hide-front {
  opacity: 0 !important;
}

.card-front {
  width: 100%;
  height: auto;
  transition: 0.5s;

  .card-img {
    transition: 0.5s;
    cursor: pointer;

    &:hover {
      opacity: 0.88;
    }
  }

  .name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    pointer-events: none;
    color: #fffe;
    text-shadow: 3px 3px 0 #C05640;

    filter: drop-shadow(3px 3px 3px #1116);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    animation: fadeIn 0.3s;
  }
}

.card-content {
  width: 100%;
  height: auto;
  padding: 4%;

  .toolFrame {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
  }

  .tool {
    width: 20px;
    height: 20px;
    opacity: 0.15;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      opacity: 0.45;
    }
  }

  .text {
    width: 100%;
    padding: 3% 0 3% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    font-size: 18px;
    color: $brown;
    text-align: justify;
    letter-spacing: 2px;
    animation: fadeIn 0.5s;

    .content-text {
      white-space: pre-wrap;
    }

    .content-name {
      width: 100%;
      text-align: right;
      color: #000;
      line-height: 1.5;
    }
  }
}

#surprise {
  width: 1440px;
  height: 100vh;
  max-width: 90%;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;

  .field {
    width: fit-content;
    position: relative;
  }

  .active {
    filter: drop-shadow(0px 0px 7px rgba(255, 240, 191, 0.7));
    animation: run 2.35s infinite !important;
  }

  .sheep {
    width: 77px;
    margin: 0 250px 0 0;
    display: inline-block;
    transform: scaleX(-1);
    cursor: grab;
    transition: filter 0.5s;
    animation: sheep 1.25s infinite alternate;

    &:hover{
      filter: drop-shadow(0 0 7px rgba(255, 240, 191, 0.7)) !important;
    }
  }

  .church {
    width: 150px;
    display: inline-block;
    filter: drop-shadow(0px 0px 7px rgba(255, 240, 191, 0.7));
  }

  .title {
    color: #fff9;
    font-size: 38px;
    font-weight: 450;
    letter-spacing: 1px;
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translateX(-50%) skew(-15deg);
    opacity: 1;
    pointer-events: none;
    transition: 1.3s;
  }
}

#footer {
  width: 100%;
  padding: 48px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  position: relative;

  img {
    width: 18px;
    margin: 0 3px 0;
    display: inline-block;
  }

  a {
    text-decoration: none;
    color: $yellow;
  }
}

@keyframes mayorIn {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }

  100% {
    width: 550px;
    height: 550px;
    opacity: 1;
  }
}

@keyframes mayorRotate {
  0% {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(3deg);
  }

  66% {
    transform: rotate(-3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes sheep {
  50%{  
    transform: scaleX(-1.045) scaleY(1.045) rotate(-2deg);
  }

  100%{
    transform: scaleX(-1) scaleY(1) rotate(4deg);
  }
}

@keyframes run {
  25%{
    transform: scaleX(-1) rotate(-5deg);
  }

  50%{
    transform: scaleX(-1) rotate(5deg);
  }

  75%{
    transform: scaleX(-1) rotate(0deg);
  }

  100%{
    transform: scaleX(-1) translateX(-250px);
  }
}

// pc 1440
@media (max-width: $break-lg) {
  #scene {
    .shapes {
      width: 200px;
    }
  }

  #index {
    #mayor {
      width: 425px;
      height: 425px;
    }


    #jason-img {
      width: 400px;
      height: 400px;
    }
  }

  @keyframes mayorIn {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
    }

    100% {
      width: 425px;
      height: 425px;
      opacity: 1;
    }
  }
}

// pad 1024
@media (max-width: $break-pad) {
  #scene {
    .shapes {
      width: 175px;

      &:nth-child(1) {
        top: 5% !important;
        left: 14% !important;
      }

      &:nth-child(2) {
        top: 0% !important;
        left: 52% !important;
      }

      &:nth-child(3) {
        top: 10% !important;
        left: 75% !important;
      }

      &:nth-child(4) {
        bottom: 14% !important;
        left: 5% !important;
      }

      &:nth-child(5) {
        bottom: 5% !important;
        left: 26% !important;
      }

      &:nth-child(6) {
        bottom: 7% !important;
        right: 9% !important;
      }

      &:nth-child(7) {
        bottom: 25% !important;
        right: 15% !important;
      }
    }
  }

  #cards {

    // column-count: 2;
    .card {
      width: 45%;
      box-shadow: 0px 10px 25px -5px rgba(50, 88, 130, 0.32);
    }
  }
}

// phone 767
@media (max-width: $break-phone) {
  #scene {
    .shapes {
      width: 150px;

      &:nth-child(1) {
        top: 5% !important;
        left: 4% !important;
      }

      &:nth-child(2) {
        top: -2% !important;
        left: 37% !important;
      }

      &:nth-child(3) {
        top: 10% !important;
        left: 65% !important;
      }

      &:nth-child(4) {
        bottom: 14% !important;
        left: 5% !important;
      }

      &:nth-child(5) {
        bottom: 2% !important;
        left: 28% !important;
      }

      &:nth-child(6) {
        bottom: 12% !important;
        right: 2% !important;
      }

      &:nth-child(7) {
        bottom: 30% !important;
        right: -3% !important;
      }
    }
  }

  #index {
    #mayor {
      width: 300px;
      height: 300px;
      animation: fadeIn 0.7s, mayorRotate 3.65s ease-in-out infinite;
    }

    #jason-img {
      width: 285px;
      height: 285px;
      animation: fadeIn 2s;
    }

    #jason-title {
      font-size: 40px;

      .celebrate {
        width: 40px;
        height: 40px;
      }
    }
  }

  #cards {
    // column-count: 1;

    .card {
      width: 100%;
      box-shadow: 0px 6px 15px -5px rgba(50, 88, 130, 0.32);
    }
  }

  .card-content {
    .text {
      font-size: 16px;
    }
  }

  #surprise{
    .active{
      animation: run 1.75s infinite;
    }

    .sheep{
      width: 72px;
      margin: 0 70px 0 0;
    }
  
    .church{
      width: 120px;
    }

    .title {
      font-size: 20px;
    }
  }

  #footer {
    padding: 32px;
    font-size: 12px;
  
    img {
      width: 16px;
    }
  }

  @keyframes mayorIn {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
    }

    100% {
      width: 300px;
      height: 300px;
      opacity: 1;
    }
  }

  @keyframes run {
    25%{
      transform: scaleX(-1) rotate(-5deg);
    }
  
    50%{
      transform: scaleX(-1) rotate(5deg);
    }
  
    75%{
      transform: scaleX(-1) rotate(0deg);
    }
  
    100%{
      transform: scaleX(-1) translateX(-70px);
    }
  }
}

// smallphone 320
@media (max-width: $break-smallphone) {
  #scene {
    .shapes {
      width: 90px;
    }
  }

  #index {
    #mayor {
      width: 280px;
      height: 280px;
    }


    #jason-img {
      width: 265px;
      height: 265px;
    }
  }

  @keyframes mayorIn {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
    }

    100% {
      width: 280px;
      height: 280px;
      opacity: 1;
    }
  }
}