// *Noto Sans TC
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&display=swap');

$blue-major: #1ECFD6;
$blue-second:#A5DEE4;
$blue-third: #2EA9DF;
$yellow: #EDD170;
$brown: #C05640;

$break-lg: 1440px;
$break-pad: 1024px;
$break-phone: 767px;
$break-smallphone: 320px;

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif, 黑體-繁, Apple LiGothic Medium, PingFang, 微軟正黑體, Microsoft JhengHei, WenQuanYi Zen Hei, helvetica, Arial;
}

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

::selection {
  background: #fff;
  color: $brown;
}

.none {
  display: none !important;
}

#app {
  width: 100%;
  height: auto;
  background: linear-gradient(to bottom, $blue-second, $blue-third);
  overflow-x: hidden;
}

#index {
  width: 100%;
  height: 100vh;
  position: relative;

  .mayorBox {
    max-width: 100%;
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #mayor {
    width: 550px;
    height: 550px;
    background: rgba($color: #fff, $alpha:0.9);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: grab;
    animation: mayorIn 0.7s, mayorRotate 3.65s ease-in-out infinite;
  }


  #jason-img {
    width: 525px;
    height: 525px;
    border-radius: 50%;
    overflow: hidden;
    animation: fadeIn 2.5s;

    img {
      width: 100%;
      height: 100%;
      transition: transform 0.75s, opacity 0.75s;

      &:hover {
        transform: scale(1.07);
        opacity: 0.93;
      }
    }
  }

  #jason-title {
    margin: 16px 0 0 0;
    text-align: center;
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 2px;
    animation: fadeIn 2.5s;

    .em-partying_face {
      width: 54px !important;
      height: 54px !important;
    }
  }

  .shapes {
    width: 250px;
    max-width: 90%;
    position: absolute;
    animation: fadeIn 3.5s;

    &:nth-child(2) {
      top: 5%;
      left: 14%;
    }

    &:nth-child(3) {
      top: -2%;
      left: 60%;
    }

    &:nth-child(4) {
      top: 10%;
      left: 83%;
    }

    &:nth-child(5) {
      bottom: 14%;
      left: 5%;
    }

    &:nth-child(6) {
      bottom: 5%;
      left: 26%;
    }

    &:nth-child(7) {
      bottom: 7%;
      right: 9%;
    }

    &:nth-child(8) {
      bottom: 35%;
      right: 19%;
    }
  }
}

#cards {
  width: 90%;
  height: auto;
  margin: auto;
  padding: 3% 0;
  column-count: 3;
}

.card {
  width: 95%;
  max-width: 100%;
  height: fit-content;
  margin: 0 auto 8% auto;
  background: #fffd;
  border-radius: 4px;
  overflow: hidden;
  position: relative;

  letter-spacing: 2px;
  break-inside: avoid;
  transition: 0.5s;

  .card-img {
    transition: 0.5s;
    cursor: pointer;

    &:hover {
      opacity: 0.88;
    }
  }

  .hide {
    opacity: 0 !important;
    pointer-events: none;
  }

  .name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;

    color: $blue-second;
    border-bottom: 2px solid #fffd;
    text-shadow: 1px 1px 0px #fff;
    font-size: 40px;

    animation: fadeIn 0.3s;
  }
}

.card-content {
  width: 100%;
  height: 100%;
  padding: 4%;
  position: absolute;
  top: 0;
  left: 0;

  .toolFrame {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
  }

  .tool {
    width: 20px;
    height: 20px;
    opacity: 0.15;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      opacity: 0.45;
    }
  }

  .text {
    width: 100%;
    height: calc(100% - 20px);
    padding: 3% 0;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    color: $brown;
    text-align: justify;
    letter-spacing: 2px;
    animation: fadeIn 0.5s;
  }
}

@keyframes mayorIn {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }

  100% {
    width: 550px;
    height: 550px;
    opacity: 1;
  }
}

@keyframes mayorRotate {
  0% {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(3deg);
  }

  66% {
    transform: rotate(-3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// pc 1440
@media (max-width: $break-lg) {
  #index {
    .shapes {
      width: 200px;
    }
  }
}

// pad 1024
@media (max-width: $break-pad) {
  #index {
    .shapes {
      width: 175px;

      &:nth-child(2) {
        top: 5%;
        left: 14%;
      }

      &:nth-child(3) {
        top: 0%;
        left: 52%;
      }

      &:nth-child(4) {
        top: 10%;
        left: 75%;
      }

      &:nth-child(5) {
        bottom: 14%;
        left: 5%;
      }

      &:nth-child(6) {
        bottom: 5%;
        left: 26%;
      }

      &:nth-child(7) {
        bottom: 7%;
        right: 9%;
      }

      &:nth-child(8) {
        bottom: 25%;
        right: 15%;
      }
    }
  }

  #cards {
    column-count: 2;
  }
}

// phone 767
@media (max-width: $break-phone) {
  #index {
    #mayor {
      width: 300px;
      height: 300px;
      animation: fadeIn 0.7s, mayorRotate 3.65s ease-in-out infinite;
    }

    #jason-img {
      width: 285px;
      height: 285px;
      animation: fadeIn 2s;
    }

    #jason-title {
      font-size: 40px;

      .em-partying_face {
        width: 40px !important;
        height: 40px !important;
      }
    }

    .shapes {
      width: 150px;

      &:nth-child(2) {
        top: 5%;
        left: 4%;
      }

      &:nth-child(3) {
        top: -2%;
        left: 37%;
      }

      &:nth-child(4) {
        top: 10%;
        left: 65%;
      }

      &:nth-child(5) {
        bottom: 14%;
        left: 5%;
      }

      &:nth-child(6) {
        bottom: 2%;
        left: 28%;
      }

      &:nth-child(7) {
        bottom: 12%;
        right: 2%;
      }

      &:nth-child(8) {
        bottom: 30%;
        right: -3%;
      }
    }
  }

  #cards {
    column-count: 1;
  }

  .card-content {
    .text {
      font-size: 16px;
    }
  }

  @keyframes mayorIn {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
    }

    100% {
      width: 300px;
      height: 300px;
      opacity: 1;
    }
  }
}

// smallphone 320
@media (max-width: $break-smallphone) {
  #index {
    #mayor {
      width: 280px;
      height: 280px;
    }


    #jason-img {
      width: 265px;
      height: 265px;
    }

    .shapes {
      width: 90px;
    }
  }

  @keyframes mayorIn {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
    }

    100% {
      width: 280px;
      height: 280px;
      opacity: 1;
    }
  }
}