<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>俊昇區長快樂！😁</title>
  <link rel="stylesheet" href="./css/style.min.css">
  <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
</head>

<body>
  <div id="app">
    <!-- *首頁 -->
    <section id="index">
      <div class="mayorBox">
        <!-- 圖 -->
        <div id="mayor">
          <div id="jason-img">
            <img src="./img/jason.jpg">
          </div>
        </div>
        <!-- 名 -->
        <div id="jason-title">
          <p>恭賀<br>俊昇區長</p>
          <i class="em em-partying_face"></i>
        </div>
      </div>

      <!-- shape -->
      <svg v-for="(item,idx) in shapes" :key="item.color" class="shapes" viewBox="0 0 200 200"
        xmlns="http://www.w3.org/2000/svg">
        <path fill="#F2F4F899" :d="item.shape" transform="translate(100 100)" />
      </svg>
    </section>

    <!-- *卡片 -->
    <section id="cards" ref="card">
      <div v-for="(item,idx) in data" :key="item.name" class="card">
        <!-- *封面 -->
        <div class="card-front">
          <!-- 照片 -->
          <img class="card-img" :src="item.img">
          <!-- 名字 -->
          <span class="name none">{{item.name}}</span>
        </div>

        <!-- *卡片內文 -->
        <div class="card-content none">
          <!-- *tool -->
          <section class="toolFrame">
            <!-- *上一頁 -->
            <img class="tool back" src="./img/tool/undo-alt-solid.svg" alt="上一頁">
            <!-- *聲控 -->
            <div v-if="item.hasVoice">
              <img v-if="isPlay" class="tool play" @click="voice" src="./img/tool/play-circle-solid.svg" alt="播放">
              <img v-if="!isPlay" class="tool" @click="voice" src="./img/tool/stop-circle-solid.svg" alt="暫停">
            </div>
          </section>

          <!-- *text -->
          <section class="text">
            <p>{{item.text}}</p>
          </section>
        </div>
      </div>
    </section>
  </div>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="./js/vue.js"></script>
  <script src="./js/index.js"></script>
</body>

</html>